.root {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.title {
  margin-top: 60px;
  margin-bottom: 40px;
  font: 22px Montserrat;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: rgb(46,46,229);
}

.cutBlock {
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  margin-top: 15px;

  outline: none;

  border: solid 1px rgb(46,46,229);
  background-color: #f7f8fa;

  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.cutBlock:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(46,46,229);
}

.cutBlockTitle {
  font: 20px Montserrat;
  font-weight: 600;
  margin: 0;
}

.body {
  margin-top: 15px;
  color: rgb(46,46,229);
  display: flex;
}

.requisites {
  font: 17px Montserrat;
  font-weight: 400;
  color: rgb(46,46,229);

  margin-right: 10px;
}

.copyIcon {
  width: 21px;
  height: 21px;
}

.checkIcon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.positionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.position {
  display: flex;

}

.positionTitle {
  width: 140px;
  white-space: pre-line;
  overflow-y: hidden;
  margin: 0 10px 0 0;
}

.positionCalculate {
  display: flex;
  align-items: center;
  width: 75px;
  line-height: 19px;
  font: 14px Montserrat;
  margin: 0 10px 0 0;
  color: #858588;
}

.positionPrice {
  display: flex;
  align-items: center;
  width: 75px;
  margin: 0;
}